:root {
    --primary: #3acbf7;
}

.btn {
    padding: 8px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.6s ease-out;
    background: #fff;
    color: #6568F4;
    transition: 750ms;
}