.navbar {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.navbar_logo {
    justify-self: start;
    margin-left: 30px;
    cursor: pointer;
    color: white;
    font-size: 1.7em;
    position: absolute;
    top: 0;
    left: 10%;
    transform: translate(50%, 78%);
    font-size: 1.7em;
}

.navbar_menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 25px;
    list-style-type: none;
    justify-content: end;
    width: 80%;
    text-align: center;
    margin-right: 2rem;
    font-size: 1.2rem;
    width: 100%;
    height: 308px;
    position: absolute;
    top: 100%;
    left: -10%;
    opacity: 1;
}

.navbar_link {
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}

.navbar_link:hover {
    -webkit-backdrop-filter: blur( 5.0px );
    background-color: rgb(15, 10, 102);
    border-radius: 10px;
    transition: all 0.4s ease;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 5.0px );
    border-radius: 10px;
}

.menu_icon {
    display: none;
}

@media screen and (max-width: 860px) {
    .navbar {
        position: relative;
    }

    .navbar_menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 308px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.7s ease;
    }

    .navbar_menu.active {
        -webkit-backdrop-filter: blur( 5.0px );
        background: rgba( 255, 255, 255, 0.05 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
        backdrop-filter: blur( 5.0px );
        border-radius: 10px;
        left: 0;
        opacity: 1;
        transition: all 0.7s ease;
        z-index: 1;
    }

    .navbar_link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_link:hover {
        -webkit-backdrop-filter: blur( 5.0px );
        background-color: rgb(37, 30, 170);
        border-radius: 0;
        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
        backdrop-filter: blur( 5.0px );
    }

    .navbar_logo {
        position: absolute;
        top: 0;
        left: 10%;
        transform: translate(50%, 78%);
        font-size: 1.7em;
    }

    .menu_icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-300%, 60%);
        cursor: pointer;
    }
}

/*
background: rgb(8,4,74);
    background: linear-gradient(90deg, rgba(8,4,74,1) 7%, rgba(20,8,125,1) 36%, rgba(42,65,186,1) 66%, rgba(167,195,255,1) 100%);
*/